body,html{
    margin: 0;
    padding: 0;
height: 100%;
background-color: #FAFAFA;
overflow: hidden;
}

img {
    border: 0;
    vertical-align: middle;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h5{
    margin: 0;
    padding-left:35px; 
}
h2{
   margin-top: 0;
}
.move{
    margin-left: -23px;
    margin-bottom: -10px;
    margin-top: 13px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    opacity: 0;
    cursor: move;
    padding: 0 0 0 15px;
    transition:all 1s ease-out;
   

}
.float_menu{
    background: url(../img/icon.png) 0 0 no-repeat;
    background-size: 197px,3538px;
    background-position: 0 -2062px;
    width: 22px;
    height: 18px;
    display: inline-block;
    position: absolute;
    right: -20px;
    visibility: hidden;

}
.move:hover{
    opacity: 1;
}
.today_task_list_content{
    position: relative;
}
.today_task_list_content >div{
    width: 568px;
    padding: 13px 0;
    cursor: pointer;

    margin: .1px;
    border-bottom: 1px solid #f0f0f0;
}
.today_task_list_content:hover .move{
    opacity: .2;
}
.today_task_list_content:hover .today_task-talk{
    opacity: .5;
}
.float_menu:hover{
    opacity: 1;
}
.today_task_list_content:hover .float_menu {
    visibility: visible;
    opacity: .5;
}

.circle{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #D6D6D6;
   
}
.today_add_task_text{
    display: inline-block;
    padding: 1px 0 0 10px;
}
.today_task-talk{
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -611px;
    width: 15px;
    height: 14px;
    opacity: 0;
    float: right;
    margin-left: 10px;
   
}

.today_add_task_text_content{
    font-size: 5px;
    float: left;
    line-height: 9px;
}
#todoist_app{
    overflow: auto;
    height: 100%;
    
}
h2>a{

    font-weight: normal;
    color: #333;
    text-decoration: none;
}

h2>a:hover{

    text-decoration: underline;
}
.cursor{
    cursor: pointer;
}
#page_background{
height: 100%;
    
  
}
.items{
  list-style: none;  
}
#app_holder{
    height: 100%;
    width: 265px;
    margin-left: 100px;
    max-width: 950px;
}
#top_bar{
    background-color: #3d3d3d;
    border-color: #414141;
    height: 43px;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
}
#top_bar_inner{
    height: 100%;
    max-width: 950px;

}
#logo{
    float: left;
    padding-top: 8px;
    margin-left: 36px;
}

.top_light_logo{
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -2544px;
    height: 25px;
    width: 25px;
   
}
#top_icons{

    float: right;
  height: 100%;
  
 

   
}
#top_icons>span{
    height:100%;
    display: inline-block;
    margin-left: 20px;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    padding: 12px 10px 0 10px;
}
#quick_find{
    white-space: nowrap;
    padding-top: 5px;
    margin-left: 317px;
   

}
.img_search{

    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1412px;
    position: absolute;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 15;
    margin-top: 9px;
    margin-left: 8px;
    cursor: text;
    transition: opacity 0.1s ease-in;
    
}
#list_holder{
    width: 265px;
    padding-bottom: 50px;
}
.projects_list_manager_action_history{
    padding: 60px 0 40px 20px;
}
#projects_list {
    margin-top: 10px;
}
#projects_list li{
    padding: 6.5px 15px;
}

#projects_list span{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 15px;

}
.collapse{

    height: 0;
    overflow: hidden;
    transition: height .3s ease-in;
}
.expansion_panel:hover .collapse{
  
}
.projects_list_manager_action{
    padding-top:20px; 

}
.projects_list_manager_icon{

    margin-left: 15px;
    opacity: 1 !important;
}

.find_box{
    box-sizing: border-box;
    width: 300px;
    background: 0;
    outline: none;
    border: 1px solid transparent !important;
    border-radius: 3px;
    padding: 5px;
    padding-left:30px; 
    margin-top: 2px;
    
    transition: all .2s ease-in;
}




.find_box:hover{
    background-color: #555;
    
}

#left_menu{
    height:calc(100% - 50px) ;
    float: left;
   
  
    padding-top: 50px;
    padding-left: 30px;

    background-color: #FAFAFA;
    border-right: 1px solid #f1f1f1;
}
.left_menu_over{
    overflow-y: hidden;
}
.left_menu_over:hover{
    overflow-y: auto;
}
#top_filters0 .filter0{

    background: #fff;
    color: #000;
    font-weight: 900;
}

#top_filters1 .filter1{

    background: #fff;
    color: #000;
    font-weight: 900;

}

#top_filters2 .filter2{

    background: #fff;
    color: #000;
    font-weight: 900;

}
.date{
    color: #999;
    font-size: 11px;
    font-weight: normal;
}

.filter {
    width: 100%;
    box-sizing: border-box;
    min-width: 22px;
    font-size: 14px;
    color:#333;
    cursor: pointer;
    padding: 9px 16px 9px 4px;
    background: #fafafa;
    background-clip: padding-box;
    transition:all .5s;

   
}



.filter:hover{

    background: #fff;
  
    
 
   
}
.inbox{

    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -2182px;
    width: 20px;
    height: 18px;
  
}
.today{

  background: url(../img/icon.png) 0 0 no-repeat; 
     background-position: 0 -2042px;
    width: 20px;
    height: 18px;
}
#today_add_task_content{
    display: none;
   width: 100%; 
    height: 35px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contab{
    height: 21PX;
    width: 80% ;
   display: inline-block;
  padding: 5px 6px;
  margin-top: 2px;
    border-right: 1px solid #ddd;
   outline: none;
}
.today_add_task_date{
    border: none;
    outline: none;
   width: 85px;
    height: 21px;
    padding: 3px 6px 0 6px;
    opacity: .5;

}

.today_add_task_button{

    padding: 10px 0;
}
.today_task_finish{
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    border-radius: 16px;
    background-size: 16px 16px;
   
    opacity: .4;
}
.today_task_finish:hover{
    background-image: url("https://d3ptyyxy2at9ui.cloudfront.net/c455c3d116265d1c0bd88fc3365c287e.svg");
    background-color: #D6D6D6;
}
.today_indox{
    font-size: 11px;
    float: right;
    color: #D6D6D6;
}
.sub_add_task{
    padding: 6px 12px 7px 12px;
     background-color: #333;
     border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;

}
.future{

    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -2162px;
    width: 20px;
    height: 18px;
}

.top_icons_add_task{
    height: 18px;
    width: 18px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1141px;
}

.top_icons_message{

    height: 18px;
    width: 18px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1032px;
}


.top_icons_set{

    height: 18px;
    width: 18px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1158px;
}


.expansion_panel{
    border-bottom: 1px solid #f1f1f1;
}

.expansion_panel_content:hover{
    background-color: #F7F7F7;
}
.panel_summary{
    position: relative;
    
    
}

.panel_summary_content{
   padding-left: 40px; 
   position: relative;
   padding: 12.5px 0 12.5px 0;
   cursor: pointer;
}
.left_menu_over .panel_summary_content:hover{
    background-color: #F1F1F1;
}
.left_menu .panel_summary_content:hover{
    background-color: #F7F7F7;

}

#projects_list>li{
    cursor: pointer;

}
.angle{
    position: absolute; 
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -88px;
    left: 9px;
    margin-top: 5px;
    transition: all .2s ease-out;   
    z-index: 999; 
}
.angle_overturn{

    transform:rotate(180deg);
}
.plus{
    height: 18px;
    width: 18px;
    position: absolute;
    right: 25px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1376px;
  
    top: calc(50% - 7px);
}


#main_content{
height: 100%;
margin-left: 284px;
width: 625px;
padding: 0 20px;
    background-color:#fff;
    
}
#editor{
    
    padding: 80px 25px 85px 30px ;
}
.agenda_view_inbox_icon_vessel{
    float: right;
}
.agenda_view_inbox_comment{
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -611px;
    /*579px是深色*/
    opacity: 1;
    width: 15px;
    height: 14px;
    
}

.agenda_view_inbox_task_action{

    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1250px;
   opacity: .3;
    width: 26px;
    height: 16px;
    margin-left: 20px;
  
}

.all_add_task{
    font-size: 14px;
    color: #D6D6D6;
    padding-left:3px; 
    cursor: pointer;

}
.all_add_task:hover{
    text-decoration: underline;
    color: #000;
   
}
.all_add_task:hover .editor_plus{
    opacity: 1;
}
.editor_plus{
    height: 12px;
    width: 12px;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: -2px -1378px;
    opacity: .4;
    margin-right:15px; 
}
.history{
    height: 21px;
    width: 25px;
    float: right;
    background: url(../img/icon.png) 0 0 no-repeat;
    background-position: 0 -1878px;
    opacity: .3;
}

.disappear{
    display: none;
}

#agenda_view0 .agenda_view_inbox{

    display: block;
}
#agenda_view1 .agenda_view_today{

    display: block;
}
.tag_list_bare{

padding: 20px;    
margin: 0;
}
#tag_list_manager{

  margin: 1px;
}